@model Wevo_Pay_Project.DTOs.RegisterDto

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form asp-action="Register" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>


    <div>
        <label>Full Name</label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>


    <div>
        <label>User Name</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>


    <div>
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>


    <div>
        <label>Phone Number</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>


    <div>
        <label>Password</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div>
    <label>Confirm Password</label>
    <input asp-for="ConfirmPassword" type="password" class="form-control" />

    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">
        Register
    </button>

</form>